/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

textarea:focus, input[type="text"]:focus {
	 -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#store-name   {
    font-family: 'Helvetica Regular', helvetica, verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: black;
}


#store-cat   {
	margin-top: -3px;
    font-family: 'Helvetica Regular', helvetica, verdana, sans-serif;
    font-size: 13px;
    color: #717171;
    font-style: italic;
    font-weight: 500;
}

#store-address, #store-phone   {
	margin-top: 8px;
    font-family: 'Helvetica Regular', helvetica, verdana, sans-serif;
    font-size: 13px;
    color: #717171;
    font-weight: 500;
    line-height: 110%;
}

#store-icons   {
	margin-top: 8px;
}

#icon   {
    position: relative;
    margin-top: 22px;
    margin-right: 20px;
    float: right;

}

input[type="text"] {
	outline: none;
	background-color: #ff; 
	border: 0px;
	box-shadow: inset 0 0px 0px;
	height: 78px;
	width: 900px;
	font-family: 'Helvetica Light', helvetica, verdana, sans-serif;
	font-weight: 100;
    font-size: 33px;
    margin-left: 64px;
	padding: 0px 0px 11px 0px;
	color: #b8b8b8;
}

.dropdown-menu > li > a {

	font-family: 'Helvetica Light', helvetica, verdana, sans-serif;
	font-weight: 100;
    font-size: 33px;
    color: #d9d9d9;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > li > a:hover > strong,
.dropdown-menu > li > a:focus > strong,
.dropdown-submenu:hover > a > strong,
.dropdown-submenu:focus > a > strong  {
  
  color: #e23311;
  text-decoration: none;


}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a > strong,
.dropdown-menu > .active > a:hover > strong,
.dropdown-menu > .active > a:focus > strong {
  color: #e23311;
  text-decoration: none;

}




#header{
    background-color: #2d2d2d;
    height: 27px;
    
    font-family: 'Helvetica Light', helvetica, verdana, sans-serif;
	font-weight: 500;
    font-size: 14px;
    color: #ababab;
    line-height: 26px;
    padding-left: 8px;

   
}

#nav{
	background-image:url('../img/search_icon.gif');
	background-repeat:no-repeat;
    background-color: White;
    height: 78px;
}

#map-canvas{
    position:absolute; 
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}
#parent{
    margin-top:105px;
    position:absolute; 
    top:0px; 
    left:0px;
    right:0px; 
    bottom:0px;
}

#map-canvas img {
    max-width: none;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
